@font-face {
  font-family: 'Geo';
  src: url("fonts/GeosansLight.woff2") format("woff2");
  font-display: fallback;
}
:root {
  --page-width: 830px;
}

body {
  font-size: 21px;
  background-color: #FFF;
  color: #000;
  line-height: 1.4em;
  font-family: 'Geo', sans-serif, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

#exhibit {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

#exhibit p {
  vertical-align: top;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

#banner {
  width: var(--page-width);
  text-align: justify;
  line-height: normal;
  margin: 3rem auto;
}

main {
  max-width: var(--page-width);
  margin: 0 auto;
}    
main img {
  max-width: 100%;
}
#studio-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#sponsors {
  display: flex;
  gap: 1rem;
  max-width: var(--page-width);
  margin: 0 auto;
}
#sponsors img {
  max-width: 6rem;
  margin: 1rem;
}