@font-face {
  font-family: 'Geo';
  src: url("fonts/GeosansLight.woff2") format("woff2");
  font-display: fallback;
}
:root {
  --page-width: 1080px;
}

body {
  font-size: 21px;
  background-color: #FFF;
  color: #000;
  line-height: 1.4em;
  font-family: 'Geo', sans-serif, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

img {
  max-width: 100%;
}

main {
  max-width: var(--page-width);
  margin: 3rem auto;
}    
@media (max-width:1080px)  { 
  div {
    flex-direction: row;
  }
}

#exhibit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
#studio-views {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#sponsors {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
#sponsors img {
  max-width: 6rem;
}

