@font-face {
  font-family: 'Geo';
  src: url("./GeosansLight.woff2") format("woff2");
  font-display: fallback;
}

body {
  font-size: 14px;
  background-color: #FFF;
  color: #000;
  line-height: 1.4em;
  font-family: 'Geo', Nexa, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

#exhibit {
  height: 100%;
  top: 0;
  width: 860px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#exhibit p {
  margin: 1em auto 1em;
  vertical-align: top;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

#banner {
  width: 830px;
  font-size: 21px;
  text-align: justify;
  line-height: normal;
  margin: 22.5px auto;
}

#banner.text {
}

main {
  max-width: 768px;
  margin: 0 auto;
}    
main img {
  max-width: 100%;
}
#studio-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#sponsors img {
  display: flex;
  gap: 1rem;
  max-width: 6rem;
}